/* ADProperties.css */
.ad-properties-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button container */
  margin-bottom: 20px;
}

.launch-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.launch-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.tables-container {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: flex-start; /* Align items to the start of the container */
  width: 90%;
}

.tables-container > div {
  flex: 1 1 auto; /* Allow the items to grow and shrink */
  /* min-width: 40%; Set a minimum width for the items */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logs-table-container,
#adPropertiesContainer,
.user-account-status-table-container {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.logs-table-container {
  overflow-y: auto;
  max-height: 100%;
}

.properties-table,
.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.properties-table th,
.properties-table td,
.logs-table th,
.logs-table td {
  border: 1px solid #ddd;
  padding: 7px;
}

.properties-table th,
.logs-table th {
  background-color: #9b9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: rgb(192, 192, 192);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 90%; /* Ensure the modal does not exceed 90% of the viewport width */
  max-height: 90%; /* Ensure the modal does not exceed 90% of the viewport height */
  overflow: auto; /* Add scrollbars if the content overflows */
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create columns with a minimum width of 200px */
  gap: 10px; /* Add space between the columns */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.ad-properties-container .toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-left: 10px; /* Adjust the margin to move it to the right */
  margin-top: 5px; /* Adjust the margin to move it lower */
}

.ad-properties-container .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ad-properties-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.ad-properties-container .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.ad-properties-container input:checked + .slider {
  background-color: #2196F3;
}

.ad-properties-container input:checked + .slider:before {
  transform: translateX(14px);
}

.ad-properties-container .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.ad-properties-container .tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow at the bottom */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.ad-properties-container .toggle-switch:hover .tooltip {
  visibility: visible;
  opacity: 1;
}