/* ADProperties.css */
.ad-properties-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.tables-container {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: flex-start; /* Align items to the start of the container */
  width: 100%;
}

.tables-container > div {
  flex: 1 1 auto; /* Allow the items to grow and shrink */
  min-width: 30%; /* Set a minimum width for the items */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logs-table-container,
#adPropertiesContainer,
.user-account-status-table-container {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.logs-table-container {
  overflow-y: auto;
  max-height: 100%;
}

.properties-table,
.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.properties-table th,
.properties-table td,
.logs-table th,
.logs-table td {
  border: 1px solid #ddd;
  padding: 7px;
}

.properties-table th,
.logs-table th {
  background-color: #9b9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: rgb(192, 192, 192);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 90%; /* Ensure the modal does not exceed 90% of the viewport width */
  max-height: 90%; /* Ensure the modal does not exceed 90% of the viewport height */
  overflow: auto; /* Add scrollbars if the content overflows */
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create columns with a minimum width of 200px */
  gap: 10px; /* Add space between the columns */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}