.computer-status-table {
  width: 100%;
  border-collapse: collapse;
}

.computer-status-table th,
.computer-status-table td {
  border: 1px solid #ddd;
}

.computer-status-table th {
  background-color: #9b9999;
  padding: 7px;
}

.property-cell {
  padding: 5px; /* Add padding to ensure spacing for property cells */
}

.value-cell {
  text-align: center; /* Center only the value cells */
  padding: 0; /* Remove padding to ensure the background color fills the entire cell */
}

.value-cell.online {
  background-color: green;
  color: white;
}

.value-cell.offline {
  background-color: red;
  color: white;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-left: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}