/* Configure.css */
.configure-page .toggle-switch {
    position: relative;
    display: inline-block;
    width: 2.125em; /* 34px */
    height: 1.25em; /* 20px */
    vertical-align: middle; /* Align vertically in the middle */
  }
  
  .configure-page .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .configure-page .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2.125em; /* 34px */
  }
  
  .configure-page .slider:before {
    position: absolute;
    content: "";
    height: 0.875em; /* 14px */
    width: 0.875em; /* 14px */
    left: 0.1875em; /* 3px */
    bottom: 0.1875em; /* 3px */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .configure-page input:checked + .slider {
    background-color: #2196F3;
  }
  
  .configure-page input:checked + .slider:before {
    transform: translateX(0.875em); /* 14px */
  }
  
  
  /* Table styles */
  .configure-page table {
    width: auto;
    border-collapse: collapse;
    margin-top: 1em;
  }
  
  .configure-page table, .configure-page th, .configure-page td {
    border: 1px solid #ddd;
  }
  
  .configure-page th, .configure-page td {
    padding: 1em;
    text-align: left;
    width: auto;

  }