/* Styling for the status column */
.domain-controllers-container .status-online {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
}

.domain-controllers-container .status-offline {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
}

/* Formatting the table */
.domain-controllers-container {
    display: inline-block;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1.25em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.domain-controllers-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(214, 214, 214, 0.2);
}

.domain-controllers-container caption {
    caption-side: top;
    text-align: center;
    font-size: 1.2em; /* Slightly larger than the other fonts */
    font-weight: bold;
    background-color: white; /* White background */
    color: black; /* Black text */
    border-bottom: 1px solid #ddd; /* Add bottom border similar to th */
    padding: 0.5em; /* Add padding for better appearance */
    border-radius: 0.5em 0.5em 0 0; /* Round off the top corners only */
    position: relative; /* For positioning the toggle switch */
}

.domain-controllers-container th, .domain-controllers-container td {
    padding: 0.125em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.domain-controllers-container th {
    background-color: #f2f2f2;
    cursor: pointer;
    color: black;
}