@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.locked-out-users-container {
    display: inline-block; /* Allow the container to adjust to the width of its content */
    max-width: 90%; /* Ensure the container does not exceed the width of its parent */
    margin: 0 auto; /* Center the container */
    margin-top: 1.25em;
    margin-left: 1.25em; /* Add left margin */
    margin-right: 1.25em; /* Add right margin */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.locked-out-users-container table {
    width: 100%; /* Use full width of the container */
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add border around the container */
    border-radius: 0.5em; /* Round off the corners */
    box-shadow: 0 0.5em 1em rgba(214, 214, 214, 0.2); /* Add a small shadow */
}

.locked-out-users-container caption {
    caption-side: top;
    text-align: center;
    font-size: 1.2em; /* Slightly larger than the other fonts */
    font-weight: bold;
    background-color: white; /* White background */
    color: black; /* Black text */
    border-bottom: 1px solid #ddd; /* Add bottom border similar to th */
    padding: 0.5em; /* Add padding for better appearance */
    border-radius: 0.5em 0.5em 0 0; /* Round off the top corners only */
}

.locked-out-users-container th, .locked-out-users-container td {
    padding: 0.125em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.locked-out-users-container th {
    background-color: #f2f2f2;
    cursor: pointer;
    color: black; /* Ensure header text is black */
}

.locked-out-users-container .recent-lockout {
    background-color: yellow;
    color: black; /* Ensure text is black for readability */
}

.locked-out-users-container tr:hover {
    background-color: #f5f5f5;
    color: black;
}

.locked-out-users-container h2 {
    text-align: center; /* Center the heading */
    font-variant: small-caps; /* Make the text small caps */
}

.locked-out-users-container .context-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.locked-out-users-container .context-menu button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.locked-out-users-container .context-menu button:hover {
    background-color: #f0f0f0;
}