.logs-container {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table-container {
    max-height: 80%;
    overflow-y: auto;
}

.logs-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.logs-table th, .logs-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.logs-table th {
    background-color: #f2f2f2;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
}

.clickable-cell {
    cursor: pointer;
    position: relative;
}

.clickable-cell:hover {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
}

.clickable-cell::after {
    content: "Click to copy";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: rgb(246, 255, 115);
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    display: none;
}

.clickable-cell:hover::after {
    display: block;
}

.tooltip {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(125, 250, 132);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}