.tabs-container {
  display: flex;
  /* border-bottom: 1px solid #ddd; */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  justify-content: flex-start; /* Align tabs to the left */
  align-items: left;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #f2f2f2;
  color: black; /* Set text color to black */
}

.tab.active {
  background-color: rgb(128, 227, 252);
  font-weight: bold;
}

.close-tab {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}