.user-properties-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tables-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logs-table-container,
#userPropertiesContainer {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.logs-table-container {
  overflow-y: auto;
  max-height: 100%;
}

.properties-table,
.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.properties-table th,
.properties-table td,
.logs-table th,
.logs-table td {
  border: 1px solid #ddd;
  padding: 7px;
}

.properties-table th,
.logs-table th {
  background-color: #f2f2f2;
  text-align: center; /* Center-align the headers */
  position: sticky;
  top: 0;
  z-index: 1;
}

.clickable-cell {
  cursor: pointer;
  position: relative;
}

.clickable-cell:hover {
  background-color: #f0f0f0;
}

.clickable-cell::after {
  content: "Click to copy";
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: rgb(185, 185, 185);
  color: rgb(0, 0, 0);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
}

.clickable-cell:hover::after {
  display: block;
}

.tooltip {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(64, 250, 39);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-weight: bold; /* Make the text bold */
}