.user-account-status-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-account-status-table th,
  .user-account-status-table td {
    border: 1px solid #ddd;
  }
  
  .user-account-status-table th {
    background-color: #9b9999;
    padding: 7px;
  }
  
  .boolean-value {
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  
  .user-account-status-table td.property-cell {
    padding: 5px; /* Add padding to ensure spacing for property cells */
  }
  
  .value-cell {
    text-align: center; /* Center only the value cells */
    padding: 0; /* Remove padding to ensure the background color fills the entire cell */
  }
  
  .script-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make the button fill the entire width of the parent */
    height: 100%; /* Make the button fill the entire height of the parent */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .script-button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px) scale(1.1); /* Expand the button slightly on hover */
  }
  
  .script-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px) scale(1); /* Reset the scale when the button is pressed */
  }
  
  .script-button.initial {
    background-color: red;
    color: white;
  }
  
  .script-button.loading {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }
  
  .script-button.success {
    background-color: green;
    color: white;
  }
  
  .script-button.error {
    background-color: yellow;
    color: black;
  }